body {
	font: 10px sans-serif;
}

.axis path,

.axis line {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.dot {
	stroke: #000;
} 

.dot:hover {
	fill: blue;
	r: 6;
}
 