h2 {
	color: black;
}
.chart rect {
	fill: rgb(0, 196, 144);
}

.chart rect:hover {
	fill: rgb(0, 148, 92);
}

.chart text {
	fill: white;
	font: 20px sans-serif;
	text-anchor: middle;
}

.axis text {
	fill: black;
	font: 10px sans-serif;
}

.axis path,

.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.d3-tip {
	line-height: 1;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	fill-opacity: 0.4;
	border-radius: 2px;
}