/*
Name: Eline Rietdijk
Studentnumber: 10811834

'myStyle.css'
This script contains the style attributes for the file d3line.html
*/

body {
	font: 10px sans-serif;
}

path {
	stroke: blue;
	stroke-width: 2;
	fill: none;
}

option {
	color: black;
	font-size: 1.1em;
}

font {
	font-size: 15px;
}

.axis path,

.axis line {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.text {
	fill: none;
	stroke: #000;
}

.legendaRect {
	stroke: black;
	stroke-width: 1px;
}

.legendaText {
	text-anchor: middle;
}

#legendaTextbox {
	fill: none;
}

.pointerLine {
	stroke: black;
}